.example-container {
  width: 100%;
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav {
  padding: 20px;
}

.secondary-color {
  font-weight: 600;
}

.button-filter {
  color: var(--color-white);
  background-color: var(--primary-color);
}