.button-save {
    width: 250px;
    height: 45px;
    background-color: var(--primary-color);
    color: var(--color-white);
}

.input-field-large {
    margin-right: 30px;
    width: 300px !important;
}

.input-field{
    margin-right: 30px;
    width: 200px !important;
}


.icon-download-large{
    font-size: 38px;
    height: 48px;
    width: 48px;
}
