@if (showNavbar) {
<div class="secondary-color-back">
    <div class="d-flex justify-content-between">
        <div class="content-img">
            <img src="../../../../assets/imgs/2020_logo UNEF blanco.png" alt="" (click)="redirect()">
        </div>
        <div class="m-auto">
            <mat-form-field >
                <mat-label>Vuelta</mat-label>
                <mat-select formControlName="section">
                    <mat-option value="option1">Option 1</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
}