@if (showNavbar) {
<div class="secondary-color-back">
    <div class="d-flex justify-content-between">
        <div class="content-img">
            <img src="../../../../assets/imgs/2020_logo UNEF blanco.png" alt="" (click)="redirect()">
        </div>
        <div class="m-auto my-3">
            <mat-form-field>
                <mat-label>Vuelta</mat-label>
                <mat-select [formControl]="section" (selectionChange)="selectRound($event.value)">
                    <mat-option [value]="0">{{'Seleccione una ronda'}}</mat-option>
                    <mat-option *ngFor="let round of roundList" [value]="round.round">{{'Ronda' + round.round}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>
}