.width-buttons {
    width: 45%;
    height: 50px;
}

.primary-color-back {
    background-color: var(--primary-color);
    margin-top: 20px;
}

.no-data-cell {
    width: 100%;
    padding: 20px;
}

th {
    font-size: 20px;
    color: var(--primary-color);
}

.totales {
    font-size: 16px;
}

.border-totales {
    background-color: var(--primary-color);
    border-radius: 7px;
    padding: 5px;
    width: 12%;
    color: white;
}

@media (max-width: 990px) {
    .border-totales {
        width: 25%;
    }
}

@media (max-width: 710px) {
    .button-return {
        width: 30%;
    }
}
@media (max-width: 490px) {
    .border-totales {
        width: 30%;
    }
    .button-return {
        width: 40%;
    }
}

@media (max-width: 405px) {
    .border-totales {
        width: 35%;
    }
}